<div>

<div class="md-5" style=" border-right: solid; float: left; width: 75%; margin-top: 20px;" >

<form
style="float: left; width: 25%; height: 40px;
font-size: 25px; font-family: Arial, Helvetica, sans-serif">
    <select id="markaSelect" [(ngModel)]="inputDash.marka" name="marka" #marka="ngModel" (change)="onChangeMarka()" style="width: 100%;">
      <option style="color: gray;" [ngValue]=""></option>
      <option *ngFor="let marka of brands" [ngValue]="marka">
        {{marka.name}}
      </option>
    </select>
</form>

<form
style="float: left; margin-left: 25px; width: 25%;
height: 40px; font-size: 25px; font-family: Arial, Helvetica, sans-serif">
  <select id="modelSelect" [(ngModel)]="inputDash.model" name="model" #model="ngModel" (change)="onChangeModel()"  style="width: 100%;">
    <option style="color: gray;" [ngValue]=""></option>
    <option *ngFor="let model of models" [ngValue]="model">
      {{model.name}}
    </option>
  </select>
</form>

<form
style="float: right; margin-left: 10px;
width: 40%; height: 40px; font-size: 25px;
font-family: Arial, Helvetica, sans-serif">
    <div class="input-group">
      <div class="form-outline">
        <input [(ngModel)]="inputDash.urunNo" name="urunNo" #urunNo="ngModel" id="search-input" type="search" id="form1" class="form-control" placeholder="Parça No"
        />
      </div>
      <button id="search-button" type="button" class="btn btn-success" (click)="prdctSearch(urunNo)" >
        <i class="fas fa-search">Ara</i>
      </button>
    </div>
    <div class="alert alert-danger" *ngIf="msg">
      <label style="font-size: 15px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Aradığınız eleman bulunamadı..</label>
  </div>
</form>

  <table class="table">
      <thead>
      <tr>
        <th>
          Resim
        </th>
        <th>
          Parça No
        </th>
        <th>
          Parça Adı
        </th>
        <th>
          Tutar
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parca of products">
        <td>
          <img src="/assets/{{parca.imgS}}">
        </td>
        <td>
          {{parca.id}}
        </td>
        <td>
          {{parca.name}}
        </td>
        <td>
          {{parca.price}}
        </td>
        <td >
          <form name="tableAdd" style="float: right;">
            <input
            id="{{parca.id}}"
            type="number"
            placeholder="Adet"
          />
          <button (click)="addBasket()" (mouseover)="selectedPrdct=parca" (mouseleave)="undefined" class="btn btn-dark" style="margin-left: 5px;">+</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="md-3" style="float: right; width: 25%; margin-top: 20px;">

  <h2 style="margin-left: 15px;">Sepet</h2>
  <table style="margin-top: 15px; margin-left: 7px; width: 100%;">
    <thead *ngIf="this.basket.length>0">
      <tr>
        <th style="width: 33%;"> Parca No</th>
        <th style="width: 33%">Adet</th>
        <th style="width: 33%;">Tutar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basket">
        <td style="width: 33%;">{{item.Product.id}}</td>
        <td style="width: 33%;">{{item.adetNumber}}</td>
        <td>{{ parcaTutar(item.adetNumber,item.Product.price)}}</td>
        <td style="width: 33%;">
          <button (click)="deleteItem()" (mouseover)="selectedItem=item" (mouseleave)="undefined" class="btn btn-danger">Sil</button>
        </td>
      </tr>
    </tbody>
  </table>


  <div style="margin-top: 15px; margin-left: 7px; border-top: solid;" *ngIf="this.basket.length>0" >
    <div style="margin-top: 15px;">
      <label style="width: 33%; " >Ara Tutar</label>
      <label style="width: 33%;"></label>
      <label style="width: 33%;">{{araTutar.toFixed(2)}}</label>
    </div>
    <div style="margin-top: 15px;">
      <label style="width: 33%;" >KDV</label>
      <label style="width: 33%;">%18</label>
      <label style="width: 33%;">{{kdv.toFixed(2)}}</label>
    </div>
    <div style="margin-top: 15px;">
      <label style="width: 33%; font: bold;">Toplam</label>
      <label style="width: 33%;"></label>
      <label style="width: 33%;">{{toplamTutar.toFixed(2)}}</label>
    </div>
  </div>
</div>

</div>
