<img
src="/src/assets/user.png"
alt=""
style="
position: fixed;
top: 20px;
right: 15px;">

<div class="content">
  <div class="container" style="border-bottom: black; border-bottom-style: solid; margin-top: 30px;">

        <img
        src="assets/{{imgUrl}}"
        style="float: left;">

        <label>
          <a routerLink="/board" class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          style="color: black;
          font-size: 20px;
          font-family: Arial, Helvetica, sans-serif;
          float: left;
          margin-left: 5px;
          "
          >{{fullName}}</a>
        </label>

        <button class="btn btn-danger btn-sm" style="margin-bottom: 25px;">

          <a (click)="logOut()" routerLink="/login" class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          style="border-radius: 12px;
          float: left;
          margin-left: 10px;
          color: white;
          "
          >Log Out</a>
        </button>
    </div>
    <div class="container" style="margin-top: 30px;">
      <router-outlet>
      </router-outlet>
    </div>
  </div>
